table button{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}


table td{
    /* border-bottom: 2px solid black; */
    padding:10px;
}
table td:last-child {
    border: 0;
}
table tr{
    margin-top:10px;
}

.filter .basket{
    /* width: 20%; */
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    /* box-shadow: 3px 5px 9px black; */
}
button{
    cursor: pointer;
}

.table{
    vertical-align: middle;
    text-align: center;
    border-spacing: 0;
    width:100%;
    border-collapse:separate;
    border-spacing:0 4px;
    color:#9c9494;
    
}
.table thead{
    color: #4646b0;
    font-weight: bold;
    
}
.table thead th{ 
    padding:10px;
}

.table tr{
    background-color: white;
}
.table tr td:first-child{
    /* border-radius: 5px 0 5px 0; */
}

.table td:first-child {text-align: left;}

.table td button{
    width: 35px;
    height: 35px;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;

}
.table button {
    transition: all 0.5s linear;
}

.table .dis:after{
    content: "+";
}
.table .notdis:after{
    content: "✓";
}
.table td button:hover{
    /* background-color: #e1d6d6; */

}
.table .notdis{
    background-color: #ffffff;
    border: 3px solid green;
    color: green;

}

.table .basketdis{
    background-color: #ffffff;
    border: 3px solid red;
    color: red;

}

.table .basketdis:after{
    content: "×";
}
